* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    flex-grow: 0;
}

header {
    padding: 10px;
}

footer {
    padding: 0px;
    padding-bottom: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px 0 2px 0;
}

nav .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #354bf0;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    background-color:#F0F0F0;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #384dea;
    color: white;
}

nav .log-out {
    margin-left: auto;
    flex-grow: 0;
}

nav .log-out button {
    background-color: #2a41f2;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

nav .log-out button:hover {
    background-color: #1a33ef; /* Slightly darker on hover */
}

h1, h2, h3 {
    color: #3f3f3f;
}

h3 {
    margin: 5px;
}

p, li {
    line-height: 1.6;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

footer a {
    color: #368eed;
}

.logotitle {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
}

.logotitle img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}