* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    flex-grow: 0;
}

header {
    padding: 10px 0px;
}

footer {
    padding: 0px;
    padding-bottom: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFF0F5;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    background-color: #4d4d4d;
    padding: 10px 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px 0 2px 0;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    list-style: none;
}

nav .menu li {
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #354bf0;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    background-color:#F0F0F0;
    transition: background-color 0.3s;
}

nav a:hover, nav a.current-page {
    background-color: #384dea;
    color: white;
}

nav .log-out {
    margin-left: auto;
    flex-grow: 0;
}

nav .log-out button {
    background-color: #0b26ee;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

nav .log-out button:hover {
    background-color: #0015b6; /* Slightly darker on hover */
}

h1, h2, h3 {
    color: #ff1493;
}

h3 {
    margin: 5px;
}

p, li {
    line-height: 1.6;
    margin-top: 5px;
    color:#ff69b4
}

button {
    cursor: pointer;
}

footer a {
    color: #368eed;
}

.logotitle {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
}

.logotitle img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

#login-form button {
    background-color: #ff69b4;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#login-form button:hover {
    background-color: #ff43a1; /* Slightly darker on hover */
}

/* Adjust spacing for mobile */
@media (max-width: 810px) {
    header, nav, .logotitle, .menu, .log-out {
        display: block;
        text-align: center;
    }

    nav .menu, nav .log-out {
        padding: 0;
    }

    nav .menu li, nav .log-out button {
        margin: 10px 0;
    }

    nav a {
        display: block;
        margin: 5px;
    }

    #login-form label, #login-form input, #login-form button {
        display: block;
    }

    #login-form input {
        margin-bottom: 10px;
    }
    }

#login-form label {
    color:#ff69b4;
}

#login-form input {
    border:#ff43a18d 1px solid;
}