main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Sidebar Design */

div.profile {
    border-bottom: 2px solid #2a8668;
}

div#task-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.task-list-dropdown {
    display: block;
    width: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffa500;
    color: white;
    font-size: 90%;
}

#event-log h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #006600;
}

#event-log h2 {
    margin-top: 20px;
}


section.sidebar {
    flex-basis: 500px;
    padding: 10px;
    margin: 15px;
    background-color: #e6ffe6;
    height: calc(100% - 30px);
    /* Adjust based on total vertical margins */
    flex: 2.5;
}

section.sidebar .profile {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}


.fileInputLabel {
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
    background-color: #006600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.fileInputLabel:hover {
    background-color: #004d00;
    /* Darker shade for hover effect */
}

#profilePic {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 5px;
    border: 2px solid #004d00;
}

section.sidebar .profile #userInfo {
    color: #004d00;
    margin: 0px 0;
}

section.sidebar .profile .userDisplay {
    color: #053205;
    margin: 0px 0;
    font-weight: bold;
}

section.sidebar .task-list-dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e6ffe6;
    font-size: 90%;
}

/* Event Log Design */

#events {
    padding: 3px;
    margin-left: 2px;
}

#event-log .event {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

#event-log .event-action {
    color: #004d00;
    width: 190px;
}

#event-log .family-member {
    font-weight: bold;
}

#event-log .task-name {
    color: #2cb02c;
    font-style: italic;
    font-size: medium;

}


/* Todo List Design */

section.todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex: 5;
}

.todolist-header h2,
.todolist-header {
    text-align: center;
    margin: 10px 0 10px;
    color: #e16200;
}

/* Table */
#task-list {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #fd8b33;
}

#task-list th,
#task-list td {
    border: 1px solid #ffcc80;
    padding: 8px;
    text-align: center;
    color: #db8f31;
}

#task-list thead {
    background-color: #ffa500;
}

#task-list thead th {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#task-list tbody tr:nth-child(odd) {
    background-color: #fff5e6;
}

#task-list tbody tr:nth-child(even) {
    background-color: #fae4c3;
}

#task-list tbody tr:hover {
    background-color: #ffd597;
}

#task-list tfoot tr {
    background-color: #ffa500;
}

#task-list tbody tr.completed-task {
    text-decoration: line-through;
    color: #986903da;
    background-color: #e56b00c7;
}

#task-list tbody tr.completed-task td {
    color: #fcf5d9;
}


/* Buttons */
#task-list button {
    padding: 5px 10px;
    margin: 2px;
    width: 80%;
    max-width: 175px;
    cursor: pointer;
    border: none;
    background-color: #ff8c00;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#task-list button:hover {
    background-color: #ff7000;
}

#add-task-form button {
    background-color: #ffefd7;
    color: #ff7000;
    border: 3px solid #ff7000;
    font-weight: bold;
    font-size: large;
}

#add-task-form button:hover {
    background-color: #ff7000;
}

.checkbox {
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    text-align: center;
}

.completed {
    font-size: 24px;
    color: e56b00c7;
    background-color: #fa7500c7;
}

.checkbox.completed::before {
    content: "\2713";
    /* add checkmark */
}

#task-date-header {
    text-align: center;
    position: relative;
}

#date-header-content {
    display: inline-block;
    text-align: center;
}

#date-sort-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    /* Center the icon vertically */
    transform: translateY(-50%);
}



/* Form for adding tasks */

#task-list input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: 1px solid #ffcc80;
    border-radius: 4px;
    text-align: center;
    color: #db8f31;
    /* date text */
    background-color: #fff5e6;
}

#task-list input::placeholder {
    color: #db8f31;
    /* task placeholder text */
}


/* Adjustments for small screens */

.alt-task-list-dropdown {
    display: none;
    /* Initially hidden */
}


@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}